* {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

main {
    width: 92%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.pag {
    text-align: center;
    font-weight: bolder;
    border: 2px solid slateblue;
    background-color: rgb(30, 40, 50);
    color: aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
    /* margin-bottom: 1%; */
}

img {
    width: 225px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 20px;
  
}
.container > div {
  background-color: rgb(30, 40, 50);
  border-radius: 20px;
  padding: 10px;
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  /* margin-bottom: 4%; */
}

.imagen {
    display: block;
    padding-bottom: 5%;
}

.tit {
    font-size: large;
    font-weight: bold;
}

.aut {
    font-size: medium;
    font-weight: normal;
}

.tit, .aut {
    text-align: left;
    width: 92%;
    margin-left: 4%;
}

.cocontainer {
    display: grid;
    grid-template-columns: auto 150px;
}

/* .cocontainer > div {
    
} */

.read{
    background-color: rgb(129, 182, 49);
    width: 60%;
    height: 100%;
    margin-left: 20%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition-duration: 0.4s;

}

.read:hover{
    background-color: black;
    color: rgb(129, 182, 49);
}
